@page "/"

<h1>SmartNotes</h1>

<Notecard Title="Groceries" Body="Milk and eggs" IsPinned="true" />
<Notecard Title="Workout" Body="Run 5km" />
<Notecard Title="Ideas" Body="Build the SmartNotes frontend" />